@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: teal;
  color: #000;
  font-family: 'M PLUS 1p', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  padding: 20px;
  color: #fff;
  align-items: center;
}

#menu {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search {
  padding: 4px 15px;
  font-family: inherit;
  font-size: 15px;
  width: 35%;
}

#logo {
  width: 80px;
  height: 43px;
}

#nav-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

a {
  color: #fff;
  position: relative;
  right: 0;
}

h1 {
  color: #fff;
  letter-spacing: 4px;
}

#showcase h2 {
  display: inline;
}

#refresh,
#form button {
  border: none;
  color: #fff;
  font-size: 23px;
  border-radius: 8px;
  font-family: inherit;
}

#refresh {
  padding: 15px 20px;
  color: #000;
  background-color: #fff;
  font-size: 16px;
  margin-left: 10px;
}

#showcase button:hover {
  background-color: rgb(184, 54, 54);
  opacity: 1;
}

#showcase button:hover,
#form button:hover {
  cursor: pointer;
  transition: 0.7s;
}

.container {
  width: 80%;
  margin: 100px auto auto auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  padding: 30px;
  position: relative;
  gap: 10px;
}

#form-header,
#showcase-title {
  background-color: #080a1f;
  color: #fff;
  width: 100%;
  padding: 20px;
}

#showcase-title {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

#form input {
  font-family: inherit;
  padding: 10px 35px;
  border: none;
  border-bottom: 1.2px solid #ccc;
  font-size: 17px;
}

#form i {
  position: absolute;
}

.icon {
  padding: 13px;
  min-width: 40px;
  color: #555;
}

#message {
  display: none;
  position: absolute;
  top: 10px;
  right: 50%;
  background-color: rgb(99, 245, 107);
  color: #000;
  font-weight: 400;
  padding: 6px 8px;
  font-size: 14px;
  border-radius: 4px;
}

#social-media {
  background-color: #fff;
  padding: 4px;
  position: fixed;
  left: 0;
  top: 200px;
  display: flex;
  gap: 6px;
  flex-direction: column;
}

#social-media img {
  width: 40px;
  height: 40px;
}

#social-media img:hover {
  transform: scale(0.9);
}

.input-field {
  width: 100%;
}

#form input:focus {
  outline: none;
}

#form input::placeholder {
  color: #555;
}

#form button[type="submit"] {
  padding: 15px 20px;
  width: 150px;
  font-size: 18px;
  margin-top: 20px;
  box-sizing: border-box;
  position: relative;
  margin-left: 70%;
  background-color: #080a1f;
  color: #fff;
}

li {
  list-style: none;
  padding: 20px 15px;
  color: #fff;
  font-size: 17px;
  margin: 10px;
  margin-left: 0;
  border-radius: 4px;
  overflow: hidden;
}

li:hover {
  color: #000;
}

ul {
  width: 100%;
  height: 58vh;
  overflow: auto;
  margin-top: 20px;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 768px) {
  h1 {
    font-size: 15px;
  }

  h2 {
    font-size: 14px;
    letter-spacing: 1.5px;
  }

  h3 {
    font-size: 13px;
    letter-spacing: 2px;
  }

  nav {
    padding: 15px 10px;
    z-index: 2;
    gap: 20px;
    position: fixed;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 120px;
    width: 95%;
  }

  #form-header {
    padding: 8px 12px;
  }

  #form {
    padding: 15px;
  }

  #form input {
    font-size: 15px;
  }

  #form button[type="submit"] {
    padding: 8px 4px;
    width: 80px;
    position: relative;
    margin-top: 0;
    border-radius: 5px;
    font-size: 15px;
  }

  #logo {
    width: 40px;
    height: 22px;
  }

  #search {
    width: 100%;
    padding: 5px;
  }

  #menu a {
    display: none;
  }

  #social-media {
    display: none;
  }

  #showcase-title {
    gap: 5px;
    padding: 8px;
    justify-content: space-between;
    font-size: 15px;
  }

  #refresh {
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
  }

  ul {
    width: 100%;
    overflow: visible;
  }

  li {
    margin: 10px 0;
    font-size: 15px;
  }
}
