@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: teal;
  color: #000;
  font-family: 'M PLUS 1p', sans-serif;
}

h1 {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
}

#showcase h2 {
  display: inline;
}

#showcase button,
#form button {
  border: none;
  color: #fff;
  font-size: 23px;
  border-radius: 8px;
  font-family: inherit;
}

#showcase button {
  padding: 15px 20px;
  background-color: #555;
  font-size: 16px;
  margin-left: 10px;
}

#showcase button:hover {
  background-color: rgb(184, 54, 54);
  opacity: 1;
}

#showcase button:hover,
#form button:hover {
  cursor: pointer;
  transition: 0.7s;
}

.container {
  width: 80%;
  margin: 40px auto auto auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  padding: 30px;
  gap: 10px;
}

#form-header,
#showcase-title {
  background-color: #080a1f;
  opacity: 0.5;
  color: #fff;
  width: 100%;
  padding: 20px;
}

#showcase-title {
  display: flex;
  gap: 20px;
  align-items: center;
}

#form input {
  font-family: inherit;
  padding: 10px 35px;
  border: none;
  border-bottom: 1.2px solid #ccc;
  font-size: 16px;
}

#form i {
  position: absolute;
}

.icon {
  padding: 13px;
  min-width: 40px;
  color: #333;
}

.input-field {
  width: 100%;
}

#form input:focus {
  outline: none;
}

#form input::placeholder {
  color: #000;
}

#form button[type="submit"] {
  width: 35%;
  padding: 15px 20px;
  font-size: 18px;
  margin-left: 65%;
  margin-top: 20px;
  box-sizing: border-box;
  background-color: #080a1f;
  opacity: 0.5;
  color: #fff;
}

#form button[type="submit"]:hover {
  opacity: 0.8;
}

li {
  list-style: none;
  padding: 20px 15px;
  color: #fff;
  margin: 10px;
  margin-left: 0;
  border-radius: 4px;
  overflow: hidden;
}

li:hover {
  color: #000;
}

ul {
  width: 100%;
  height: 58vh;
  overflow: auto;
  margin-top: 20px;
}

li:nth-child(even) {
  background-color: #ccc;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    margin: auto;
    grid-template-columns: 1fr;
    position: relative;
  }

  #showcase {
    position: relative;
    margin-top: 240px;
    text-align: center;
  }

  main div:nth-child(2) {
    position: absolute;
    width: 95%;
    margin: auto;
  }

  #form,
  ul {
    width: 100%;
  }

  h1 {
    margin: 20px auto;
    text-align: center;
  }
}
